html
    head
        // Title page
        title Lab 3
    body
        // Display message
        p To generate an image, click the link below.
        // Link to image generation and qr code forms
        p
            a(href='/generate-img') Generate Image
        p
            a(href='/generate-qr-code') Generate Qr Code
